@using CagnotteSolidaire.Blazor.Services
@inject AssociationApiService AssociationService

<div class="section">
    <div class="field">
        <label>Recherche</label>
        <InputText class="input" @bind-Value="terme" placeholder="Nom, RNA..." />
    </div>

    <button class="btn" @onclick="Rechercher">Rechercher</button>

    @if (resultats.Count > 0)
    {
        <div class="list">
            @foreach (var assoc in resultats)
            {
                <button class="item buttonlike" @onclick="() => Selectionner(assoc)">
                    <div class="title">@assoc.Nom</div>
                    <div class="muted">@assoc.NumeroRNA</div>
                </button>
            }
        </div>
    }
</div>

@code {
    private string terme = "";
    private List<AssociationDTO> resultats = new();

    [Parameter]
    public EventCallback<AssociationDTO> OnSelection { get; set; }

    private async Task Rechercher()
    {
        resultats = await AssociationService.Rechercher(terme);
    }

    private async Task Selectionner(AssociationDTO assoc)
    {
        await OnSelection.InvokeAsync(assoc);
    }

    
}
